---
Language: Cpp

AlignConsecutiveAssignments:        Consecutive
AlignConsecutiveBitFields:          Consecutive
AlignConsecutiveDeclarations:       Consecutive
AlignConsecutiveMacros:             Consecutive
AlignEscapedNewlines:               Left
AlignTrailingComments:              true
AllowShortCaseLabelsOnASingleLine:  true
BreakBeforeBinaryOperators:         NonAssignment
BreakConstructorInitializers:       BeforeComma
BreakInheritanceList:               BeforeComma
ColumnLimit:                        0
FixNamespaceComments:               true
IncludeBlocks:                      Preserve
IndentCaseLabels:                   true
IndentPPDirectives:                 AfterHash
IndentWidth:                        4
NamespaceIndentation:               All
PointerAlignment:                   Left
SpaceAfterCStyleCast:               true
SpaceBeforeParens:                  Never
UseTab:                             Never

BreakBeforeBraces:          Custom
BraceWrapping:
    AfterCaseLabel:         true
    AfterClass:             true
    AfterControlStatement:  Always
    AfterEnum:              true
    AfterFunction:          true
    AfterNamespace:         true
    AfterStruct:            true
    AfterUnion:             true
    AfterExternBlock:       true
    BeforeCatch:            true
    BeforeElse:             true
    BeforeLambdaBody:       false
    BeforeWhile:            false
