/out/
/bin/
/.vscode/
/.vs/
/third_party/virtualbox/out/
/third_party/virtualbox/AutoConfig.kmk
/third_party/virtualbox/configure.log
/third_party/virtualbox/env.*
/third_party/virtualbox/include/FDP
