<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body>
  <style>
  @font-face {
    font-family: 'days_one';
    src: url('/days_one.ttf') format('truetype');
  }
  .siteTitle {
    margin-top: 24px;
  }
  .siteTitle img {
    display: inline-block;
    vertical-align: middle;
    margin-top: -24px;
    margin-right: -10px;
  }
  .siteTitle span {
    font-family: 'days_one', Fallback, sans-serif;
    color: white;
    font-size: 160%;
  }
  </style>
<div class="main">
<header>

<div class="header-bar">

  <nav>
    <div class="siteTitle">
      <a href="{{ .Site.BaseURL }}">
        <img src="/shard_only_no_background.png" width=12%></img>
        <span>{{ .Site.Title }}</span>
      </a>
    </div> <!--siteTitle-->

    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}"><div class="nav-item-title">{{ .Name }}</div></a>
    {{ end }}

  </nav>

  {{ partial "social-links.html" . }}

</div>


</header>
